module Borders where

import           Graphics.X11.Xlib (Dimension)


myBorderWidth :: Dimension
myBorderWidth = 2
{{ if eq .chezmoi.config.data.theme "rose_pine" }}
myNormalBorderColor :: String
myNormalBorderColor = "#191724"
myFocusedBorderColor :: String
myFocusedBorderColor = "#e0def4"
{{ end }}
{{ if eq .chezmoi.config.data.theme "rose_pine_dawn" }}
myNormalBorderColor :: String
myNormalBorderColor = "#faf4ed"
myFocusedBorderColor :: String
myFocusedBorderColor = "#575279"
{{ end }}
{{ if eq .chezmoi.config.data.theme "rose_pine_moon" }}
myNormalBorderColor :: String
myNormalBorderColor = "#232136"
myFocusedBorderColor :: String
myFocusedBorderColor = "#e0def4"
{{ end }}
